*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background-colors */

.bg-white {
  background-color: #fff;
}

.bg-white__darker {
  background-color: #a9a9a9;
}

.bg-gray {
  background-color: #7e7e7e;
}

.bg-gray__darker {
  background-color: #3d3d3d;
}

.bg-black {
  background-color: #000;
}

.bg-gray__medium {
  background-color: #c6c6c6
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 179.77px;
}

.logo {
  width: 120px;
  height: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.link {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; 
}

.li {
  margin: 10px;
}

.button {
  width: 130px;
  height: 50px;
  border-radius: 6px;
  color: #fff;
  border: none;
}

.lastest-articles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.last-item {
  background-color: red;
  width: 50%;
  height: 100vh;
}

.last-item > a {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding: 42px;
  text-decoration: none;
}

.last-title-h2 {
  position: absolute;  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  right: calc(50% - 200px);
  margin-top: 42px;
}

.title-float {
  padding: 16px;
  font-size: 28px;
  font-weight: 700;
}

.last-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: transparent;
  text-decoration: none;
  margin-right: 24px;
}

.last-author-desc {
  width: 70%;
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
}

.last-title {
  width: 100%;
  margin-top: 28px;
  font-size: 48px;
  color: #fff;
}

.div-article {
  display: flex;
  padding: 55px;
  height: 600px;
  width: 100%;
  background-color: #c6c6c6;
}

.article {
  width: 33.3%;
  margin-right: 10px;
  padding: 30px;
}

.flow {
  color: transparent;
  margin-top: 190px;
  height: 110px;
  margin-left: -85px;
  width: 150px;
}

.flow:hover {
  background: #000;
}

.flow1 {
  color: transparent;
  margin-top: 170px;
  height: 110px;
  width: 150px;
}

.flow1:hover {
  background: #000;
}

.h2-class {
  margin-top: 10px;
  margin-bottom: 25px;
}

.paragraph {
  margin-top: 20px;
}

.aside-colect {
  background: #dfdfdf;
  height: 100vh;
  display: flex;
  padding: 40px;
}

.ad-colect {
  flex: 1 1 35%;
  height: 50%;
  background: #a9a9a9;
  margin-right: 24px;
  border-radius: 24px;
  color: transparent;
}

.colect-info {
  flex: 1 1 65%;
  background: #a9a9a9;
  height: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.colect-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #3d3d3d;
  color: transparent;
}

.colect-title {
  font-size: 42px;
  color: #fff;
}

.colect-description {
  width: 55%;
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}

.colect-button {
  padding: 16px 20px;
  width: 220px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

.underline {
  text-decoration: underline #7e7e7e;
}